#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    background-color: #f00d06;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
}

#back-to-top:hover {
    background-color: #FFD700;
}
