@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ef3838 0%, #c10c0c 100%);
    position: relative;
}

/* h2 {
    z-index: 2;
} */

.container {
    position: absolute;
    max-width: 430px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 015s ease;
}

.container .cadastro {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .cadastro {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}


.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(226, 92, 71);
    border-radius: 25px;
}

.form .input-field {
    background-color: #b75a4a;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 196, 196);
    border-top: 2px solid transparent;
    transition: all 0.5s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: rgb(226, 92, 71);
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(100, 100, 100);
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #b75a4a;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHiddenPass {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .text {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.form a.text {
    color: rgb(22, 99, 193);
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #e64b4b;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button input:hover {
    background-color: #c10c0c;

}

.form .login_cadastro {
    margin-top: 30px;
    text-align: center;
}