.cabecalho{
    background-color: #fd7454;
    height: 114px;
    padding: 30px;
    border-radius: 50px;
    color: white;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    align-items: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.carrossel{
    display: flex;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 340px;
    width: 510px;
    align-items: center;
    
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img{
    object-fit: cover;
    height: 340px;
    width: 550px;
}