.cabecalho {
    background-color: #fd7454;
    position: absolute;
    width: 1366px;
    height: 116px;
    left: 0px;
    top: 0px;

}

.titulo {
    position: absolute;
    width: 172px;
    height: 61px;
    left: 53px;
    top: 5px;

    font-family: 'Coming Soon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

.logo {
    position: absolute;
    width: 110px;
    height: 89px;
    left: 688px;
    top: 8px;
}

.login {
    position: absolute;
    width: 100px;
    height: 52px;
    left: 1200px;
    top: 30px;
    padding: 30;

    color: #090909;

    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;

}

.navBar {
    position: absolute;
    width: 1366px;
    height: 78px;
    left: 0px;
    top: 116px;
    background: #EDE7EB;
}

.navLink {
    display: flex;
    position: absolute;
    left: 400px;
    top:-30px;
    gap: 65px;


    font-family: 'Coming Soon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    text-decoration-color: #090909;
}

.carrossel{
    display: flex;
    position: absolute;
    left: 430px;
    top: 240px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 340px;
    width: 510px;
    align-items: center;
    
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img{
    object-fit: cover;
    height: 340px;
    width: 550px;
}